@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Bold Nerd Font Complete),
        url("fonts/Jetbrains/JetBrainsMonoBoldNerdFont.woff2") format("woff2"),
        url("fonts/Jetbrains/JetBrainsMonoBoldNerdFont.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Regular Nerd Font Complete),
        url("fonts/Jetbrains/JetBrainsMonoRegularNerdFont.woff2") format("woff2"),
        url("fonts/Jetbrains/JetBrainsMonoRegularNerdFont.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url("fonts/Ubuntu/Ubuntu-Regular.ttf") format('woff');
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--Tertiary);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: var(--Tertiary);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #909090;
}

:root {
    --Primary: #f7f7f7;  /* Text */
    --Secondary: #0c0d0d; /* Background */
    --Tertiary: #181919;
    --PrimaryButton: #d7af1d;
    --SecondaryButton: #000000;
    --Accent: #e2bb2c;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    /*
    border: red solid 1px;
    */
}

body {
    background-color: var(--Secondary);
    color: var(--Primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu';
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 1%;
    padding-top: 0.5em;
    width: 100%;
    font-size: 1.3em;
    background-color: var(--Secondary);
    z-index: 100000;
}

nav > a, nav img {
    border-radius: 10%;
    width: auto;
    height: 90%;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

nav .nav-links a {
    cursor: pointer;
    transition: all ease-in-out 200ms;
    user-select: none;
    color: var(--Primary);
    text-decoration: none;
}

nav .nav-links a:hover {
    text-decoration: underline;
    color: var(--Accent);
}

.header-font {
    font-size: 7em;
}
.header-font-small {
    font-size: 4em;
}

.font-accent {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono';
    margin-bottom: 0;
}

.font-accent + .subtitle {
    color: var(--Primary);
    opacity: .6;
    font-size: 1.4em;
    margin-top: 0;
}

.accent-highlight {
    color: var(--Accent);
}

.screen-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: grid;
    place-items: center;
}

.screen-plus-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    display: grid;
    place-items: center;
}

.content-container {
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

.team-group {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.team-member img {
    width: 8em;
    border-radius: 50%;
    border: solid var(--PrimaryButton) 4px;
}

.team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em 1em;
    border-radius: 10px;
}

.team-member p {
    text-align: left;
}

.team-member:nth-child(2n) p {
    text-align: right;
}

.team-member:nth-child(2n) {
    background-color: var(--Tertiary);
    flex-direction: row-reverse;
}

.team-name {
    color: var(--Accent);
    text-decoration: underline;
    font-size: 1.2rem;
}

.navbar-toggle-icon {
    background: url(/assets/menu.png) no-repeat 50% 50%;
    background-size: 1.7em;
    aspect-ratio: 1;
    display: inline-block;
    width: 100%;
}

#navbar-toggle {
    height: 80%;
    aspect-ratio: 1;
    width: auto;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 90%;
    }
    nav .nav-links {
        gap: 1.2em;
    }

    #home div {
        font-size: 80%;
    }
}

@media screen and (max-width: 700px) {
    .team-member {
        display:block;
    }
    .team-member p {
        text-align: left !important;
    }
}

@media screen and (max-width: 500px) {
    #navbar-toggle {
        display: block;
    }

    #nav {
        position: fixed;
        display: block;
        top: 3em;
        background-color: var(--Tertiary);
        width: 100%;
        overflow: hidden;
        height: 0;
        transition: all ease-in-out 200ms;
    }
    
    #nav.active {
        padding: .5em .8em;
        height: fit-content;
    }

    #nav a {
        display:block;
    }
    #nav.active a:hover::before {
        content: "►";
        margin-right: .2em;
        text-decoration: none;
        display:inline-block;
    }

    #nav.active a:not(:first-child) {
        margin-top: .6em;        
    }

    #home div {
        font-size: 60%;
    }
}